

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Recensione</title>
</head>
    <body>
        <div class="switch">
            <div class="btn-sx">
                <div class="spostaPagina btn-lato-sx">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lock" viewBox="0 0 16 16">
                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 5.996V14H3s-1 0-1-1 1-4 6-4q.845.002 1.544.107a4.5 4.5 0 0 0-.803.918A11 11 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664zM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
                    </svg>
                </div>
                <div class="fittizi btn-sinistra ">
                </div>
                <div class="fittizi btn-su">
                </div>
                <div class="fittizi btn-destra">
                </div>
                <div class="fittizi btn-su">
                </div>
            </div>

            <div class="monitor">
                <div class="screen">
                    <div *ngIf="recensione">
                        <h2>{{ recensione.titolo }}</h2>
                        <img [src]="recensione.immagine" alt="{{ recensione.titolo }}" width="300">
                        <p>{{ recensione.testo }}</p>
                        <p>{{recensione.autore}}</p>
                        <p>{{recensione.data}}</p>
                        <p>{{recensione.videogioco}}</p>
                    </div>
                    <div *ngIf="!recensione">
                        <p>Caricamento del dettaglio della notizia...{{ recensione }}</p>
                    </div>
                </div>
            </div>

            <div class="btn-dx">
                <div class="latoD">
                    <div class="bottoneS">
                        <button class="aggiungiRecensione"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg></button>
                    </div>
                    <div class="fittizi bt-a ">
                        A
                    </div>
                    <div class="fittizi bt-b ">
                        B
                    </div>
                    <div class="fittizi bt-x ">
                        X
                    </div>
                    <div class="fittizi bt-y ">
                        Y
                    </div>
                    <div class="spostaPagina">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>