html, body{
    margin: 0;
    padding: 0!important;
    border: 0;
}
.switch{
    position: relative;
    width: 100%;
    margin-top: 120px;
    height: 70%;
    min-height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 10px 10px rgba(80, 80, 75, 0.5);
}
.btn-sx, .btn-dx
{
    display: inline-block;
    width: 20%;
    height: 100%;
    min-height: 500px;
}
.btn-sx{
    background-color: rgb(38, 190, 240);
    border-radius: 30px 0 0  15px;
}
.btn-dx{
    background-color: rgb(223, 68, 68);
    border-radius:  0 15px 15px 0;
    position: relative;
    float: right;
}
.monitor{
    display: inline-block;
    position: absolute;
    width: 60%;
    background-color: rgb(3, 3, 3);
    height: 100%;
    min-height: 500px;
}
.screen{
    position: absolute;
    background-color: white;
    height: 450px;
    width: 95%;
    top: 25px;
    left: 2.5%;
    border-radius: 15px;
    box-shadow: inset 0 0 10px 5px rgba(80, 80, 75, 0.5);
    overflow: scroll;
    text-align: center;
}
img {
    width: 50%;
    height: auto;
    transition: transform 0.6s;
}
img:hover {
    transform: scale(1.1);
}
svg {
    filter: drop-shadow(0px 2px 4px rgb(251, 9, 9));
    transition: filter 0.3s;
    color: rgba(255, 255, 0, 0.986);
}
svg:hover {
    filter: drop-shadow(0px 0px 25px rgb(242, 241, 232));
    transform: scale(1.2);
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
    text-align: center;
    animation: holographic 3s infinite alternate;
}  
@keyframes holographic {
    0% {
      color: #4CAF50;
      text-shadow: 0 0 10px #4CAF50;
    }
    50% {
      color: #2196F3;
      text-shadow: 0 0 20px #2196F3;
    }
    100% {
      color: #FF5722;
      text-shadow: 0 0 30px #FF5722;
    }
}
p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}
.spostaPagina{
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    position: relative;
    top: 90px;
    left: 40%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 7px 5px rgb(74, 70, 70));
    box-shadow: inset 0 0 10px 5px rgba(80, 80, 75, 0.5);
}
.btn-lato-sx{
    top: 110px;
    left: 20%;
}
.aggiungiRecensione{
    background-color:transparent;
    color: white;
    top: 225px;
    left: 70px;
    width:70px ;
    height:60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 2px rgb(255, 254, 254));
}
.fittizi{
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    position: relative;
    width: 45px;
    height:45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 7px 5px rgb(74, 70, 70));
    box-shadow: inset 0 0 10px 5px rgba(80, 80, 75, 0.5);
}
.bt-a{
top: 70px;
left: 70%;
}
.bt-b{
    top: 70px;
    left: 50%;
}
.bt-x{
    top: -67px;
    left: 50%;
}
.bt-y{
    top: -65px;
    left: 30%;
}
.btn-sinistra {
    top: 220px;
    left: 20%;
    filter: drop-shadow(0px 7px 5px rgb(255, 0, 251));
}
.btn-su{
    top: 130px;
    left: 40%;
}
.btn-giu{
    top: 130px;
    left: 40%;
}
.btn-destra{
    top: 130px;
    left: 60%;
    filter: drop-shadow(0px 7px 5px rgb(255, 0, 251));
}
.fittizi button{
    border: none;
    background-color: transparent;
}
a{
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.recensioni{
    font-size: 30px;
    color: blue;
}
.news{
    font-size: 30px;
    color: rgb(255, 234, 0);
}
.RN {
    font-family: Arial, sans-serif;
    padding: 30px;
}
.RN p {
    line-height: 1.5;
}
.RN div p:hover {
    cursor: pointer;
}
.RN div p {
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.RN .arancione:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(238, 211, 7, 0.731);
}
.RN .blu:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(9, 25, 150, 0.731);
}
.arancione{
    color: orange;
}
.arancione:hover{
    background-color: rgba(255, 255, 0, 0.508);
    border-radius: 20px;
}
.blu{
    color: blue;
}
.blu:hover{
    background-color: rgba(0, 170, 255, 0.611);
    border-radius: 20px;
    }