    <div *ngIf="isLogin">
        <form [formGroup]="formLogin" (ngSubmit)="submitForm()">
            <label for="username">USERNAME:</label>
            <input type="text" name="username" formControlName="username">
            <br>
            <label for="password">PASSWORD:</label>
            <input type="password" name="password" formControlName="password">
            <br>
            <input type="submit">
            <p>Non sei registrato?</p>
            <a (click)="toggleRegister()">Registrati</a>
        </form>
    </div>
    <div *ngIf="!isLogin">
        <form [formGroup]="formRegister" (ngSubmit)="submitRegistration()">

            <label for="email">EMAIL:</label>
            <input type="text" name="email" formControlName="email">
            <br>
            <label for="username">USERNAME:</label>
            <input type="text" name="usernameR" formControlName="usernameR">
            <br>
            <label for="password">PASSWORD:</label>
            <input type="password" name="passwordR" formControlName="passwordR">
            <br>
            <label for="nome">NOME:</label>
            <input type="text" name="nome" formControlName="nome">
            <br>
            <label for="cognome">COGNOME:</label>
            <input type="text" name="cognome" formControlName="cognome">
            <br>
            <input type="submit">
            <p>Sei gia' registrato? </p>
            <a (click)="toggleRegister()">Accedi</a>
        </form>
    </div>
    
