<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginForm</title>
</head>
    <body>
        <div class="switch">
            <div class="btn-sx">
                <div class="spostaPagina btn-lato-sx">
                
                </div>
                <div class="fittizi btn-sinistra ">
                    <button></button>
                </div>
                <div class="fittizi btn-su">
                </div>
                <div class="fittizi btn-destra">
                    <button></button> 
                </div>
                <div class="fittizi btn-giu">
                </div>
            </div>

            <div class="monitor">
                <div class="screen">
                <div *ngIf="isLogin">
                    <form [formGroup]="formLogin" (ngSubmit)="submitForm()">
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg></p>
                        <label for="username">USERNAME:</label>
                        <input type="text" name="username" formControlName="username"><br>
                        <label for="password">PASSWORD:</label>
                        <input type="password" name="password" formControlName="password"><br>
                        <input type="submit">
                        <p>Non sei registrato?</p>
                        <a (click)="toggleRegister()">Registrati</a>
                    </form>
                </div>
                <div *ngIf="!isLogin">
                    <form [formGroup]="formRegister" (ngSubmit)="submitRegistration()">
                        <!-- ciao -->
                        <label for="email">EMAIL:</label>
                        <input type="text" name="email" formControlName="email"><br>
                        <label for="username">USERNAME:</label>
                        <input type="text" name="usernameR" formControlName="usernameR"><br>
                        <label for="password">PASSWORD:</label>
                        <input type="password" name="passwordR" formControlName="passwordR"><br>
                        <label for="nome">NOME:</label>
                        <input type="text" name="nome" formControlName="nome"><br>
                        <label for="cognome">COGNOME:</label>
                        <input type="text" name="cognome" formControlName="cognome"><br>
                        <input type="submit">
                        <p>Sei gia' registrato? </p>
                        <a (click)="toggleRegister()">Accedi</a>
                    </form>
                </div>
            </div>
        </div>

            <div class="btn-dx">
                <div class="latoD">
                    <div class="bottoneS">
                        <button class="aggiungiRecensione"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg></button>
                    </div>
                    <div class="fittizi bt-a ">
                        A
                    </div>
                    <div class="fittizi bt-b ">
                        B
                    </div>
                    <div class="fittizi bt-x ">
                        X
                    </div>
                    <div class="fittizi bt-y ">
                        Y
                    </div>
                    <div class="spostaPagina">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>

